body {
    margin: 0px;
    /* background-image: url("background-image/url-Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh; */
    background-color:#0b1736;
  }

.input-container{
    margin: 50px auto;
    max-width: 600px;
    display: flex;
    justify-content: center;
   
    
}

.input{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.btn-actions{
    justify-content: center;
}
.url-container{
    display: flex;
    margin: 0px auto;
    max-width: 550px;
    height: 70px;
    justify-content: space-around;
    align-items: center;
}
a{
    text-decoration: none;
    font-size: larger;
    border: 1px solid black;
    border-radius: 4px;
    background-color: aqua;
    padding: 10px 10px 10px 10px;
}
a:hover{
    text-decoration: underline;
}
Button:hover{
 border-radius: 50px;
}
.login-container{
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    text-align: center;
   
  }
  .card-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .signin{
    margin: 0px;
  }
  .signin:hover{
    cursor: pointer;
    text-decoration: underline;
  }
  .showpassword{
    display: flex;
    margin-right: 0px auto;
    align-items: center;
  }
  .url-container-subhead{
    text-align: center;
    background-color: rgb(227, 39, 39);
    border-radius: 4px;
    padding: 10px 10px 10px 10px;
  }

  @media screen and (max-width: 600px) {
    .url-container{
      display: flex;
      flex-direction: column;
      margin: 0px auto;
      max-width: 550px;
      height: auto;
      justify-content: space-around;
      align-items: center;
      gap: 16px;
  }
  .url-container-subhead{
  margin-top: 5px;
  }
  .touch-icon{
    margin-bottom: 5px;
  }
  }


  


